// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

include "input.kdl"
include "outputs.kdl"
include "keybinds.kdl"
include "switch-events.kdl"
include "layout.kdl"
include "misc.kdl"
include "recent-windows.kdl"
include "layer-window-rules.kdl"
include "animations.kdl"
