spawn-sh-at-startup "swaybg -i ~/Pictures/Wallpaper/*"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "mako"

spawn-at-startup "vesktop"
spawn-at-startup "zeditor"
spawn-at-startup "firefox"
spawn-at-startup "foot" "ncmpcpp"

spawn-at-startup "niri" "msg" "action" "focus-workspace" "discord"

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "prefer-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-size" "40"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
}

cursor {
    xcursor-size 40
    hide-after-inactive-ms 3000
}

overview {
    zoom 0.5
    // backdrop-color "#262626"

    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000050"
    }
}

xwayland-satellite {
    // off
    path "xwayland-satellite"
}

clipboard {
    // disable-primary
}

hotkey-overlay {
    skip-at-startup
}

config-notification {
    // disable-failed
}

blur {
    // off
    passes 3
    offset 5.0
    noise 0.00
    saturation 1.0
}
