#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    keybinds: (
    	clear: true,
        global: {
            "q":          Quit,
            "?":          ShowHelp,
            ":":          CommandMode,
            "I":         ShowCurrentSongInfo,
            "z":          ToggleRepeat,
            "x":          ToggleRandom,
            "c":          ToggleConsume,
            "v":          ToggleSingle,
            "p":          TogglePause,
            ">":          NextTrack,
            "<":          PreviousTrack,
            ".":          VolumeUp,
            ",":          VolumeDown,
            "<Tab>":      NextTab,
            "<S-Tab>":    PreviousTab,
            "1":          SwitchToTab("Queue"),
            "2":          SwitchToTab("Directories"),
            "3":          SwitchToTab("Artists"),
            "4":          SwitchToTab("Album Artists"),
            "5":          SwitchToTab("Albums"),
            "6":          SwitchToTab("Playlists"),
            "7":          SwitchToTab("Search"),
            "<C-u>":      Update,
            "<C-U>":      Rescan,
        },
        navigation: {
            "<Esc>":      Close,
            "<CR>":       Confirm,
            "<Up>":       Up,
            "<Down>":     Down,
            "<Left>":     Left,
            "<Right>":    Right,
            "<C-Up>":     PaneUp,
            "<C-Down>":   PaneDown,
            "<C-Left>":   PaneLeft,
            "<C-Right>":  PaneRight,
            "<PageUp>":   PageUp,
            "<PageDown>": PageDown,
            "<Space>":    Select,
            "<C-Space>":  InvertSelection,
            "<C-f>":          EnterSearch,
            "n":          NextResult,
            "N":          PreviousResult,
            "a":          Add,
            "A":          AddAll,
            "D":          Delete,
            "i":          FocusInput,
        },
        queue: {
            "d":          Delete,
            "D":          DeleteAll,
            "<CR>":       Play,
            "o":          JumpToCurrent,
            "X":          Shuffle,
        },
    ),
)
