#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]

(
    // --------------------------------------------------
    // General
    // --------------------------------------------------
    default_album_art_path: Some("/home/giffoni/.config/rmpc/default_cover.png"),
    draw_borders:           false,
    show_song_table_header: false,

    symbols: (
        song:     "󰝚 ",
        dir:      "󱍙 ",
        playlist: "󰲸 ",
        marker:   "* ",
        ellipsis: "...",
    ),

    // --------------------------------------------------
    // Layout
    // --------------------------------------------------
    layout: Split(
        direction: Vertical,
        panes: [
            (size: "1",    pane: Component("header")),
            (size: "100%", pane: Pane(TabContent)),
            (size: "1",    pane: Pane(ProgressBar)),
        ],
    ),

    // --------------------------------------------------
    // Progress Bar
    // --------------------------------------------------
    progress_bar: (
        symbols: ["=", "=", ">", "=", "="],
        track_style:   (fg: "black", modifiers: "Bold"),
        elapsed_style: (fg: "blue", modifiers: "Bold"),
        thumb_style:   (fg: "blue", modifiers: "Bold"),
    ),

    // --------------------------------------------------
    // Visualizer (CAVA)
    // --------------------------------------------------
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],

        bar_width: 1, // width of a single bar in columns
        bar_spacing: 1, // free space between bars in columns

        orientation: Bottom,

        bar_color: Single("red"),

    ),

    // --------------------------------------------------
    // Scrollbar
    // --------------------------------------------------
    scrollbar: (
        symbols:     ["┃", "▓", "▲", "▼"],
        track_style: (fg: "white"),
        ends_style:  (fg: "white"),
        thumb_style: (fg: "white"),
    ),

    // --------------------------------------------------
    // Browser
    // --------------------------------------------------
    browser_column_widths: [20, 38, 42],

    // --------------------------------------------------
    // Song Table
    // --------------------------------------------------
    song_table_format: [
        // Artist
        (
            prop: (
                kind: Property(Artist),
                style: (fg: "yellow"),
                default: (
                    kind:  Text("Unknown"),
                    style: (fg: "yellow"),
                ),
            ),
            label_prop: (
                kind: Group([
                    (kind: Text("Artist"), style: (fg: "yellow")),
                    (kind: Text("  "), style: (fg: "yellow")),
                ]),
            ),
            width: "20%",
        ),

        // Title
        (
            prop: (
                kind: Property(Title),
                style: (fg: "white"),
                default: (
                    kind:  Text("Unknown"),
                    style: (fg: "white"),
                ),
            ),
            label_prop: (
                kind: Group([
                    (kind: Text("Title"), style: (fg: "yellow")),
                    (kind: Text(" 󰸪 "),    style: (fg: "yellow")),
                ]),
            ),
            width: "35%",
        ),

        // Album
        (
            prop: (
                kind: Property(Album),
                style: (fg: "cyan"),
                default: (
                    kind:  Text("Unknown"),
                    style: (fg: "cyan"),
                ),
            ),
            label_prop: (
                kind: Group([
                    (kind: Text("Album"), style: (fg: "yellow")),
                    (kind: Text("  "),   style: (fg: "yellow")),
                ]),
            ),
            width: "30%",
        ),

        // Duration
        (
            prop: (
                kind: Property(Duration),
                style: (fg: "magenta"),
                default: (
                    kind:  Text("-"),
                    style: (fg: "magenta"),
                ),
            ),
            label_prop: (
                kind: Group([
                    (kind: Text("Length"), style: (fg: "yellow")),
                    (kind: Text(" 󰔛 "),     style: (fg: "yellow")),
                ]),
            ),
            width:     "15%",
            alignment: Right,
        ),
    ],

    // --------------------------------------------------
    // Components
    // --------------------------------------------------
    components: {
        "header": Split(
            direction: Horizontal,
            panes: [
                (size: "22%", pane: Component("header_element_1")),
                (size: "1",   pane: Component("header_element_space")),
                (size: "56%", pane: Component("header_element_2")),
                (size: "1",   pane: Component("header_element_space")),
                (size: "22%", pane: Component("header_element_3")),
            ],
        ),

        "header_element_1": Split(
            direction: Horizontal,
            panes: [
               (size: "100%", pane: Pane(Property(content: [
                               (kind: Text("[ "),style: (fg: "yellow", modifiers: "Bold")),
                               (kind: Property(Status(Elapsed)),style: (fg: "white")),
                               (kind: Text(" / "),style: (fg: "yellow", modifiers: "Bold")),
                               (kind: Property(Status(Duration)),style: (fg: "white")),
                               (kind: Text(" 󱦟"),style: (fg: "yellow", modifiers: "Bold")),
                               (kind: Text(" ]"),style: (fg: "yellow", modifiers: "Bold")),
                           ], align: Left))
               ),
            ]
        ),

        "header_element_2": Split(
            direction: Horizontal,
            panes: [
                (size: "100%", pane:
                    Pane(Property(
            content: [
                (kind: Property(Song(Artist)), style: (fg: "yellow", modifiers: "Bold"),
                    default: (kind: Text("Unknown"), style: (fg: "yellow", modifiers: "Bold"))),
                (kind: Text(" - ")),
                (kind: Property(Song(Title)), default: (kind: Text("Unknown"))),
            ], align: Center, scroll_speed: 1
        )),
                ),
            ]
        ),

        "header_element_3": Split(
            direction: Horizontal,
            panes: [
                (size: "1", pane: Pane(Property(content: [(kind: Text(""))]))),


                (size: "100%", pane: Pane(
                Volume(
                    kind: Slider(
                        symbols: (
                            start: "[",
                            filled: "=",
                            thumb: "█",
                            track: "=",
                            end: "]",
                ),
                track_style: (fg: "black", modifiers: "Bold"),
                filled_style: (fg: "yellow", modifiers: "Bold"),
                thumb_style: (fg: "yellow", modifiers: "Bold"),
                )))),


//                (size: "4", pane: Pane(Property(content: [(kind: Property(Status(Volume)), style: (fg: "white"))], align: Right))),
//                (size: "2", pane: Pane(Property(content: [(kind: Text("%"), style: (fg: "white"))]))),
            ]
        ),

        "header_element_space": Split(
            direction: Horizontal,
            panes: [
                (size: "100%", pane: Pane(Property(
                    content: [
                        (kind: Text(" ")),
                    ],
                    align: Right,
                ))),
            ],
        ),
    },
)
